<!DOCTYPE html>

{% load static %}
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Firewalls R Us - Recover Password</title>


</head>

<style>

  @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

  body {
    font-family: 'Roboto', sans-serif;
    background: url({% static 'FirewallManager/firewall.jpg' %}) no-repeat center center fixed;
    background-size: cover;
    color: white;
  }

  form {
    background-color: #3b4652;
    margin-top: 307px;
  }
</style>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded">
    <a class="navbar-brand ml-5" href="#">Firewalls R Us</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto mr-5">
        <a class="nav-item nav-link active" href="{% url 'docs' %}">Docs</a>
        <a class="nav-item nav-link active" href="{% url 'user-login' %}">Login</a>
      </div>
    </div>
  </nav>

  <div class="container text-center">
    <div class="row">
        <div class="col-12 form-container-section">
            <form class="col-4 offset-4 p-4 rounded" action="{% url 'user-password-recovery' %}" method="post">
              <h2 class="mb-3">Enter Your Email</h2>
              <div class="form-group">
                <input type="email" class="form-control" name="Email" placeholder="Email">
              </div>
              <button class="btn btn-primary mb-2 pl-4 pr-4" type="recover" name="recover">Recover Password</button>
            </form>
        </div>
    </div>

    <header class="site-header">

    </header>

    <main role="main" class="container">

    </main>



</body>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>
